body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(to right, #800080, #0000FF);
    color: white;
    animation: fadein 1.5s ease-in-out forwards;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: linear-gradient(to right, #800080, #0000FF);
    padding: 10px 0;
    z-index: 1000;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .navbar li {
    display: inline-block;
    margin: 0 10px;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border: 2px solid transparent; /* Убираем стандартное очертание */
    transition: border-color 0.3s ease;
  }
  
  .navbar a:hover {
    border-color: white;
  }

  .container {
    display: flex;
    height: auto;
    margin-top: 41px; /* Вычитаем высоту навигационной панели */
  }
  


  .sidebar {
    position: fixed;
    width: 300px;
    height: 50%;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }

  .content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 300px;
  }

  .site-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  .dropdown-btn {
    background-color: #555;
    color: white;
    padding: 12px 24px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
  }

  .dropdown-btn:hover {
    background-color: #666;
  }

  .dropdown-content {
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
  }

  .dropdown-content a:hover {
    background-color: #555;
  }

  .container h2 {
    font-weight: bold;
    font-size: large;
  }
